<html>
    <head>
        <title>{{title}}</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <header>
        <h1>{{site_name}}</h1>
        <nav>
            <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/news">News</a>          <!-- главная новостей -->
    <a href="/news/list">News list</a> <!-- список новостей -->
    <a href="/posts">Blog</a>         <!-- список статей -->
    <a href="/repos">Repos</a>        <!-- репозитории -->
</nav>
        </nav>
    </header>
{% block content %}
{% endblock %}

<footer>
    ©{{year}} My Flask App
</footer>
</body>
</html>
